@charset "utf-8";
/* Retina Ready Images */

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

/* Desktop-only rules */
@media only screen and (min-width: 980px) and (max-width: 1299px) {
.container {width:960px; }
.col3-3, .col3-3.grey, .col3-3.white, .col4-3 { width:940px; height:auto; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 979px) {
.container {width:640px; }
.col3-3, .col3-3.grey, .col3-3.white, .col4-3 { width:620px; height:auto; }
.social-list {margin-left:0 }
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
.container {width:320px; }
.col2-3, .col2-3.grey, .col3-3, .col3-3.grey, .col4-3 { width:300px; height:auto;  }
.col2-3.grey, .col3-3.grey, .col4-3.grey, .absolute { padding:40px; }
.col2-3 .parent {width:218px; height:auto; display:block }
.col2-3 .absolute .parent {display:table; height:238px; }
.col2-3.grey h3, h2 {font-size:24px; line-height:31px; }
h2 {letter-spacing:0; font-weight:400 }
#map {width:300px; height:300px;}

#header { position:relative; }
.logo-wrapper {padding-top:43px }
}

/* Media for content */
@media (max-width: 980px) {
    .photography {
        top: 640px !important;
        left: 0px !important;
    }
    .projects_c {
        top: 640px !important;
        left: 320px !important;
    }
    .profile_c {
    	left: 0px !important;
    	top: 960px !important;
    }
    .contact_c {
    	left: 320px !important;
    	top: 960px !important;
    }
    .resume_c {
    	left: 0px !important;
    	top: 1280px !important;
    }
    #container {
    	height: 1320px !important; 
    }

    @media(max-width: 767px) {
    	.bio_c {
    		height: 1150px !important;
    	}
    	.photography {
        	top: 1192px !important;
        	left: 0px !important;
    	}
    	.projects_c {
        	top: 1512px !important;
        	left: 0px !important;
    	}
    	.profile_c {
    		left: 0px !important;
    		top: 1832px !important;
    	}
    	.contact_c {
    		left: 0px !important;
    		top: 2152px !important;
    	}
    	.resume_c {
    		left: 0px !important;
    		top: 2472px !important;
    	}
    	#container {
    		height: 2520px !important; 
    	}
    }
}