@import url(https://fonts.googleapis.com/css?family=Raleway);

.navbar-top {
  position: fixed;
  font-family: 'Raleway', cursive;
  z-index: 10;
  width: 100%;
  background-color: #ffff99;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

nav ul li {
  display: inline;
  text-align: center;
}

nav a {
  display: inline-block;
  color: black;
  text-align: center;
}

main {
	display: block;
}

h1 {
	font-family: 'Raleway', cursive;
	text-align: right;
	font-size: 3em;
	color: #ffff99;
}

#portrait {
	width: 250px;
	height: auto;
	border-radius: 100%;
	border: 3 px solid #ffff99;
	float: right;
	margin: 0 px 20px 0px 35px;
}

h3 {
	font-family: 'Raleway', cursive;
	font-size: 1.4em;
	line-height: 1.3em;
	font-weight: 100;
	color: black;
}

footer {
	border-top: 1px solid #ffff99;
	font-size: 0.8em;
	margin-top: 30px;
	font-weight: bold;
}

footer ul {
	font-family: 'Raleway', cursive;
	padding: 0px;
	list-style: none;
	font-weight: lighter;
}

footer ul li {
	display: inline;
	margin-right: 20px;
	align-items: center;
}
