@import url(https://fonts.googleapis.com/css?family=Raleway);

.navbar-top {
  position: fixed;
  font-family: 'Raleway', cursive;
  z-index: 10;
  width: 100%;
  background-color: #ffff99;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

nav ul li {
  display: inline;
  text-align: center;
}

nav a {
  display: inline-block;
  color: black;
  text-align: center;
}

main {
	display: block;
}

h1 {
	font-family: 'Raleway', cursive;
	text-align: right;
	font-size: 3em;
	color: #ffff99;
}

#portrait {
	width: 250px;
	border-radius: 100%;
	border: 3 px solid #ffff99;
	float: right;
	margin: 0 px 20px 0px 35px;
}