@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Poiret+One|Quicksand);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Lato:400,100|Advent+Pro:400,100|Londrina+Outline);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

.navbar-top {
  position: fixed;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 10;
  width: 100%;
  background-color: #BDC0DE;
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

.nav-item-active {
	background-color: #EBB984;
}

.awesometext {
	color: black;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

nav ul li {
  display: inline;
  text-align: center;
}

nav a {
  display: inline-block;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 15px 45px;
}

main {
	display: block;
}

body {
	margin: 0;
	background: url("intro/trybackground.png");
  	background-position: center;
}

a {
	color: rgb(197, 114, 93);
	text-decoration: none;
}

p {
	font-family: 'Raleway', cursive;
	font-weight: lighter;
	font-size: 1.2em;
	color: white;
	line-height: 1.5em;
}

.casey {
	padding: 50px 40px 40px;
	max-width: 950px;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 30px;
}

.content {
	padding: 50px 40px 40px;
	max-width: 950px;
	margin: 0 auto;
}

h1 {
	font-family: 'Alegreya Sans', sans-serif;
	text-align: right;
	font-size: 6em;
	color: rgb(197, 114, 93);
	height: 70px;
	margin-top: 10px;
}

.clickwiki {
	color: rgb(197, 114, 93);
	text-align: center;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 3em;
}

.centerresults {
	text-align: center;
}


.watsi {
	float: right;
	margin: -35px 0px 10px 15px;
	width: 250px;
	height: 250px;
	border: 3px solid rgb(197, 114, 93);
	border-radius: 100%;
}

.pomodoro {
	float: right;
	width: 250px;
	height: 250px;
	margin: -45px 0px 10px 25px;
	border: 3px solid rgb(197, 114, 93);
}

.jscalc {
	float: right;
	margin: -35px 0px 10px 15px;
	width: 250px;
	height: 250px;
	border: 3px solid rgb(197, 114, 93);
}

.project_pics {
	float: right;
	margin: 0px 0px 10px 15px;
	width: 320px;
	border: 3px solid rgb(197, 114, 93);
}

.friend_pics {
	float: right;
	margin: 0px 0px 10px 15px;
	width: 320px;
	border: 3px solid rgb(197, 114, 93);
}

.berkeley_pics {
	float: right;
	margin: 0px 0px 10px 15px;
	width: 320px;
	border: 3px solid rgb(197, 114, 93);
}

h2, h5 {
	font-family: 'Poiret One', cursive;
	font-size: 1.8em;
	line-height: 1.4em;
	color: rgb(197, 114, 93);
	margin-top: 10px;
}

.aboutquote {
	text-align: start;
}

.aboutauthor {
	text-align: end;
}


.projectsme {
	padding-top: 20px;
}

.projectsberkeley {
	padding-top: 20px;
	padding-bottom: 40px;
}

.videos {
	padding-top: 20px;
}

#portrait {
	width: 400px;
	height: 550px;
	border: 3px solid white;
	float: right;
	margin: 5px 20px 100px 35px
}

.intro {
	text-align: justify;
}

h3 {
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
}

.caseyintro {
	text-align: center;
}

.aboutcasey {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.4em;
	line-height: 1.3em;
	font-weight: 600;
	color: white;
}

footer {
	border-top: 2px inset white;
	font-size: 0.8em;
	margin-top: 30px;
	font-weight: bold;
	color: white;
}

footer ul {
	font-family: 'Raleway', cursive;
	padding: 0px;
	list-style: none;
	font-weight: lighter;
	color: white;
}

footer ul li {
	display: inline;
	margin-right: 20px;
	align-items: center;
	color: white;
}
