@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

@import url(https://fonts.googleapis.com/css?family=Raleway);

@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Lato:400,100|Advent+Pro:400,100|Londrina+Outline);

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100);

@import "compass/css3";

body {
  background: #F6F6F6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  margin: 0px;
  font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #61B329;
}

#menu > img {
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
}
.clear {
    clear: both;
}

#sidebar {
    position: fixed;
    width: 140px;
    height: 100%;
    left: -140px;
    overflow: hidden;
    z-index: 10;
    background: rgb(245, 255, 250);
    border-right: 1px solid #CCC;
    padding: 20px;
    transition: left 0.5s ease, background 0.75s, border-right 1s;
    -webkit-transition: left 0.5s ease, background 0.75s, border-right 1s;
    -moz-transition: left 0.5s ease, background 0.75s, border-right 1s;
}

#sidebar:hover {
    left: 0px;
    background: rgba(245, 255, 250, 0.9);
    border-right: none;
}

#sidebar:hover #more > img {
    opacity: 0;
}

#sidebar-content {
    height: 100%;
}

.sidebar-name {
    font-size: 22px;
    color: black;
    line-height: 24px;
    font-weight: 600;
}

.sidebar-category {
    margin-top: 20px;
    line-height: 25px;
    color: #555;
    font-weight: 600;
    font-size: 14px;
}

.sidebar-item {
    color: #777;
    font-weight: 300;
    line-height: 25px;
    transition: color 0.5s ease;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
}

.sidebar-item:hover {
    color: #61B329;
}

#menu {
    height: 25px;
    position: fixed;
    bottom: 15px;
    left: 7px;
}
