@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  background: url("intro/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.enter {
  float: middle;
  margin: 0 auto;
  position: fixed;
}