@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Raleway);

.navbar-top {
  position: fixed;
  font-family: 'Raleway', cursive;
  z-index: 10;
  width: 100%;
  background-color: #ffff99;
}

ul {
  display: block;
  list-style-type: disc;
}

nav ul li {
  display: inline;
  text-align: center;
}

nav a {
  display: inline-block;
  color: black;
  text-align: center;
}

body {
  background-color: #ffff99;
}

.rightside {
  position: fixed;
  width: 50%;
  height: 100%;
  z-index: 10;
  right: 0;
  text-align: center;
  font-size: 58px;
}


.leftside {
  position: fixed;
  width: 50%;
  height: 100%;
  z-index: 10;
  left: 0;
  text-align: center;
  font-size: 500%;
}

.name {
  position: relative;
  z-index: 15;
  top: -10%;
}

.welcome {
  position: relative;
  z-index: 15;
  top: 50%;
  height: 50%;
  font-family: 'Shadows Into Light', cursive;
}

#next {
  position: fixed;
  z-index: 15;
  top: 70%;
  left: 85%;
  color: black;
}

.name {
  font-family: 'Shadows Into Light', cursive;
}

.vertical {
    border-left: 5px solid;
    color: black;
    position: absolute;
    z-index: 15;
    height: 100%;
    right: 50%;
}


