@media (min-width: 875px) {
    #uglyme {
        width: 1000px;
        position: fixed;
        z-index: -10;
        /*padding-left: 47%;*/
        /*margin-left: -575px;*/
        height: 110%;
    }
    #uglyme > img {
        height: 110%;
    }
    #aboutme {
        margin: 0 auto;
        padding-left: 120px;
        padding-right: 60px;
        padding-top: 5%;
        padding-bottom: 5%;
        max-width: 600px;
        margin-left: -60px;
    }
    #page {
        /*background-color: rgb(245, 255, 250);*/
        background-color: #F6F6F6;
        height: 100%;
        margin-left: 40%;
    }
    #nav {
        border-right: 1px solid black;
    }
    #name {
        font-size: 50px;
        font-weight: 600;
    }
}
@media (max-width: 875px) {
    #nav {
        border-right: 1px solid black;
    }
    #uglyme {
        height: 350px;
        overflow: hidden;
        padding-top: 80px;
    }
    #uglyme > img {
        width: 100%;
        margin-top: -140px;
    }
    #aboutme {
        margin: 0 auto;
        padding: 20px 60px 30px 100px;
        height: 145vh;
    }
    #name {
        font-size: 50px;
        font-weight: 600;
    }
}
@media (max-width: 700px) {
    #nav {
        border-right: 1px solid black;
    }
    #uglyme {
        height: 300px;
        padding-top: 60px;
        overflow: hidden;
    }
    #uglyme > img {
        width: 100%;
        margin-top: -100px;
    }
    #aboutme {
        margin: 0 auto;
        padding: 20px 30px 30px 70px;
    }
    #name {
        font-size: 45px;
        font-weight: 600;
    }
}
#detail {
    font-style: italic;
}
.header {
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0px 0px;
}

.miniheader {
    font-size: 20px;
    font-weight: 100;
    margin: 20px 0px 0px;
    text-decoration: underline;
    text-align: center;
}

.info {
    font-size: 15;
    font-weight: 300;
    line-height: 25px;
    margin-top: 10px;
}

.photo {
    position: relative;
    text-align: center;
    margin-top: 20px;
    border: 10px wheat solid;
}

.content {
  height: 100vh;
}
