/*colors of photo
#252837
#B5BCC0
#97B2BB
*/

#current {
    border: 10px wheat solid;
    width: 480px;
    height: auto;
}


@media (max-width: 450px) {
    #current {
        width: 250px;
        height: auto;
        
    }
}

@media (min-width: 875px) {
    #uglyme {
        width: 1000px;
        position: fixed;
        z-index: -10;
        /*padding-left: 47%;*/
        /*margin-left: -575px;*/
        height: 110%;
    }
    #uglyme > img {
        height: 130%;
        position: fixed;
    }

    @media (min-width: 850px) and (max-width: 1300px) and
        (max-height: 600px) {
        #uglyme > img {
            height: 250%;
            margin-top: -50px;
        }
    }

    @media (min-width: 850px) and (max-width: 1300px) and
        (max-height: 350px) {
        #uglyme > img {
            height: 350%;
        }
    }

    @media (min-width: 850px) and (max-width: 1300px) and
        (max-height: 235px) {
        #uglyme > img {
            height: 450%;
        }
    }


    #aboutme {
        margin: 0 auto;
        padding-left: 120px;
        padding-right: 60px;
        padding-top: 5%;
        padding-bottom: 10%;
        max-width: 600px;
        margin-left: -60px;
    }
    #page {
        /*background-color: rgb(245, 255, 250);*/
        background-color: #F6F6F6;
        height: 100%;
        margin-left: 40%;
    }
    #nav {
        border-right: 1px solid black;
    }
    #name {
        font-size: 50px;
        font-weight: 600;
    }
}
@media (max-width: 875px) {
    #nav {
        border-right: 1px solid black;
    }
    #uglyme {
        height: 350px;
        overflow: hidden;
        padding-top: 80px;
    }
    #uglyme > img {
        width: 100%;
        margin-top: -140px;
    }
    #aboutme {
        margin: 0 auto;
        padding: 20px 60px 30px 100px;
        height: 145vh;
    }
    #name {
        font-size: 50px;
        font-weight: 600;
    }
    .contactcontainer {
        margin-bottom: 100px;
    }
}

@media (max-width: 700px) {
    #nav {
        border-right: 1px solid black;
    }
    #uglyme {
        height: 300px;
        padding-top: 60px;
        overflow: hidden;
    }

    #uglyme > img {
        width: 100%;
        margin-top: -100px;
    }
    #aboutme {
        margin: 0 auto;
        padding: 20px 30px 30px 70px;
    }
    #name {
        font-size: 45px;
        font-weight: 600;
    }

}
#detail {
    font-style: italic;
}
.header {
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0px 0px;
}

.miniheader {
    font-size: 20px;
    font-weight: 100;
    margin: 30px 0px 0px;
    text-decoration: underline;
    text-align: center;
}

.info {
    font-size: 15;
    font-weight: 300;
    line-height: 25px;
    margin-top: 10px;
}

.photo {
    position: relative;
    text-align: center;
    margin-top: 20px;
}



.contact{
font-family: 'Roboto', sans-serif;
background:#993366;
padding:60px 0 0 0;
opacity: 0.9;
color: white;
}
.address {
  position: absolute;
}
.down{
  margin-top: 50px;
}
.row{
margin-left:0;
margin-right:0;
}
.contactcontainer{
  height: 550px;
  font-size: 20px;
}

.mapcontainer{
  margin-top: 30px;
  height: 400px;
  width: 50%;
}
.contactname{
  font-weight: 500;
  font-style: bold;
}
#hello{
  margin-bottom: -40px;
}
.contact h3 {
  margin: 0 auto;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.contactcontainer{
  color: black;
}
.inputlabel{
  font-size: 16px;
  color: wheat;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
  margin-top: 16px;
}
.fieldbreak{
  padding: 20px 300px;
  color:black;
}
#emailbtn:hover{
  background-color: black;
}
#emailbtn {
  color:black;background-color: black;
}
.contactheader{
  color: wheat;
  letter-spacing: 2px;
  font-size: 22px;
  margin-top: 5px;
}
.infocontainer{
  height: 550px;
  color: wheat;
  width: 50%;
  font-weight: 900;
  float: left;
  margin-top: -40px;
  font-family:'Roboto', sans-serif;
}
label {
    display:block;
    margin-top:20px;
    font-weight: 300;
    font-size: 18px;
}
form {
    margin:0 auto;
    width:459px;
    margin-top: 60px;
}

/* Style the text boxes */
input, textarea {
  width:508px;
  height:27px;
  background:#f2f2f2;
  opacity: 0.95;
  border:1px solid #dedede;
  padding:20px;
  margin-top:3px;
  font-size: 14px;
  color:#3a3a3a;
}

textarea {
  height:153px;
  resize: none;
}
#submit {
  height: 45px;
  width: 120px;
  font-size: 18px;
  margin-top: 20px;
}

@media (max-width: 600px) {
        input{
        width: 260px !important;
    }
    textarea {
        width: 270px !important;
    }
    #emailbtn{
        transform: translateX(50px) !important;
        width: 150px !important;
    }
}