.loaded #load_screen {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
  
}

#load_screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: wheat;
  z-index: 1000; 
}

.loaded #loading {
  opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    
}

#loading {
  display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

#loading:before {
      content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loading:after {
  content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.loaded #load_screen .load.right {
  -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #load_screen .load.left {
  -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  
}

#load_screen .load.left {
    left: 0;
}

#load_screen .load.right {
  right: 0;
}

#load_screen .load {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

canvas {
    margin-top: -1400px;
}

.img-circle {
    border-radius:100%;
}

body {
    background-color: wheat;
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.center {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link, a:visited {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.5);
}

a:hover, a:active {
    text-decoration: none;
    color: rgba(0, 0, 255, 1);
}

.over img:first-child{display:inline-block}
.over img:nth-child(2){display:none}
.over:hover img:first-child{display:none}
.over:hover img:nth-child(2){display:inline-block}
.over:active img:first-child{display:none}
.over:active img:nth-child(2){display:inline-block}

/* Sections
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.section {
  padding: 5rem 0 2rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Values
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: gray;
  font-weight: bold;
}
.value-heading {
  margin-bottom: .3rem;
  font-weight: bold;
  color: wheat;
}
.value-description {
  padding-top: 3rem;
  font-size: 1.6rem;
  font-weight: 100;
  color: gray;
}

.highlight {
    color: black;
    font-weight: bold;
}

.highlight:hover {
    font-size: 42px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.one-third {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.one-third:hover {
    border: 5px wheat solid;
    padding-top: 10px;
    padding-bottom: 25px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.teaser {
    margin-top: 15rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;

  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 15rem 0 2rem;
    padding-top: 60px;
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.3s 1s ease-out;
  }
}

.row {
    padding-top: 5px;
}
